<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>리소스를 찾을수 없음</h1>
        <p>요청한 리소스를 찾을 수 없습니다 =.= 뇨~</p>
        <p><a class="btn" href="/">Back to safety!</a></p>

    </main>
<%- include('includes/footer') %>


